.header{
  color: rgba(2, 169, 247, 0.829);
  text-align: center;
  border-radius: 50px 50px 50px 50px;
  background-color: rgb(240, 235, 235);
  border-style:double;
  width: 1000px;
  padding: 25px;
  margin: auto;
  font-size:x-large;
  font-weight: 900;
}
.header p{
  text-align: center;
  font-weight: 900;
}
.President{
  color:rgb(0, 4, 255);
  text-align: center;
  font-weight: 900;
  font-size:x-large;
}

.President ul{
  color:rgb(5, 5, 5);
  border-radius: 50px 50px 50px 50px;
  background-color:rgba(255, 255, 255, 0.78);
  text-align: center;
  border-style: double;
  padding: 20px;
  width: 800px;
  margin: auto;
  font-weight: 900; 
}
.V-President{
    color:rgb(13, 13, 14);
    text-align: center;
    font-weight: 900;
    font-size: x-large;
  }
  .V-President ul{
    color:rgba(2, 169, 247, 0.829);
    border-radius: 50px 50px 50px 50px;
    background-color:rgb(255, 255, 255);
    text-align: center;
    border-style: double;
    padding: 20px;
    width: 800px;
    margin: auto;
    font-weight: 900;

  }
  .Treasurer{
    color:rgb(0, 4, 255);
    text-align: center;
    font-weight: 900;
    font-size: x-large;
  }
  .Treasurer ul{
    color:rgb(0, 0, 0);
    border-radius: 50px 50px 50px 50px;
    background-color:rgba(255, 255, 255, 0.78);
    text-align: center;
    border-style: double;
    padding: 20px;
    width: 800px;
    margin: auto;
    font-weight: 900; 
  }    
  .Secretary{
    color:rgb(7, 7, 7);
    text-align: center;
    font-size: x-large;
  }
  .Secretary ul{
    color:rgba(2, 169, 247, 0.829);
    border-radius: 50px 50px 50px 50px;
    background-color:rgba(255, 255, 255, 0.78);
    text-align: center;
    border-style: double;
    padding: 20px;
    width: 800px;
    margin: auto;
    font-weight: 900; 
  }
  .Project-Manager{
    color:rgb(0, 4, 255);
    text-align: center;
    font-weight: 900;
    font-size: x-large;
  }
  .Project-Manager ul{
    color:rgb(0, 0, 0);
    border-radius: 50px 50px 50px 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.78);
    border-style: double;
    padding: 20px;
    width: 800px;
    margin: auto;
    font-weight: 900;
  }
body
{background-color: #000000;
  opacity: 0.8;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #f6f6f6 40px ), repeating-linear-gradient( #56ebff55, #56ebff );
  background-repeat: no-repeat;
  background-size:cover;
}
ul {
  list-style-type: none;
}
}


