
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;

	background-image: linear-gradient(90deg,#a8DADC,#fff);

}

h1 {
	text-align: center;
	color:#1d3557;
	padding-top:20px;

}

.advisor {
	background:#a8DADC;


	padding: 20px;
	margin-bottom: 20px;
	border-radius: 20px;
	border-color: black;


}


.advisor h2{
	color:#457b9d;
	margin-top: 0;
text-align: center;
}

.advisor p {
	margin: 0;
}

.advisor a{
	color:#457b9d;
	text-underline:none;

}
title{
	align-content: center;
}
header{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	padding:20px 100px;
	background:#1d3557;
	display:flex;
	justify-content:space-between;
	align-items:center;
	z-index:100;
}
.navbar a{
	position:relative;
	font-size:18px;
	color:#fff;
	font-weight:500;
	text-decoration:none;
	margin-left: 40px;
	align-items: center;
}

.navbar a::before{
	content:'';
	position:absolute;
	top:100%;
	left:0;
	width:0;
	height:2px;
	background:#ffffff;
	transition:0.3s;
	color:#fff;

}
.navbar a:hover::before{
	width: 100%;
	color:#e63946;
}
